.image {
  min-width: 120px;
  max-width: 160px;
  min-height: 180px;
  max-height: 220px;
}
.link {
  text-decoration: none;
  color: #fff;
}
.link:hover {
  text-decoration: none;
  color: aliceblue;
}

span {
  cursor: pointer;
}
